<div class="post-count">
  <h2>7日間分の投稿数</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>6日前</th>
        <th>5日前</th>
        <th>4日前</th>
        <th>3日前</th>
        <th>2日前</th>
        <th>1日前</th>
        <th>今日</th>
      </tr>
    </thead>
    <tbody>
       <tr>
        <td><%= user.books.created_6days_ago.count %></td>
        <td><%= user.books.created_5days_ago.count %></td>
        <td><%= user.books.created_4days_ago.count %></td>
        <td><%= user.books.created_3days_ago.count %></td>
        <td><%= user.books.created_2days_ago.count %></td>
        <td><%= user.books.created_yesterday.count %></td>
        <td><%= user.books.created_today.count %></td>
      </tr>
    </tbody>
  </table>
</div>

 <div class"post-graph mb-2">

  <%= line_chart [{:name=>"本の投稿数", :data=>[
                  ["6日前", user.books.where(created_at: 6.day.ago.all_day).count],
                  ["5日前", user.books.where(created_at: 5.day.ago.all_day).count],
                  ["4日前", user.books.where(created_at: 4.day.ago.all_day).count],
                  ["3日前", user.books.where(created_at: 3.day.ago.all_day).count],
                  ["2日前", user.books.where(created_at: 2.day.ago.all_day).count],
                  ["1日前", user.books.created_yesterday.count],
                  ["今日", user.books.created_today.count]]} ] , max: 10, title: "7日間の投稿数比較" %>



 </div>